# PyTorch
torch>=0.4.1
# progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests
# For OpenAI GPT
regex
nltk==3.4
beautifulsoup4==4.7.1
spacy==2.1.3
jupyter==1.0.0

# Optional (tracing): uncomment to enable OpenTelemetry tracing support
# opentelemetry-sdk>=1.24.0
# opentelemetry-exporter-otlp>=1.13.0
# opentelemetry-instrumentation>=0.42.0
# PyTorch
torch>=0.4.1
# progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests
# For OpenAI GPT
regex
nltk==3.4
beautifulsoup4==4.7.1
spacy==2.1.3
jupyter==1.0.0
